a.link-detail {
  text-decoration: none;
  color: black;
}

.btn-group button {
  margin-right: 30px;
}

p.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mat-form-field{
  margin-right: 10px;
}
.mat-form-field-wrapper{
  padding-bottom: 0;
}
.b-search{
  margin-bottom: 15px;
}