<div class="section-body">
    <div class="container-fluid p-30">
        <p style="    margin-bottom: 30px;" class="page-name">List Project</p>
        <div class="search-input row d-flex">
            <div class="col-6">
                <button type="button" class="btn btn-success" *ngIf="isAdmin" (click)="open(content)">Add
                    Project</button>
            </div>

            <div class="col-6">
              <div class="form-group searchInput">
                <label for="">Search:</label>
                <input type="search" class="form-control" id="filterbox" placeholder="Search..."
                  aria-describedby="basic-addon2"  autocomplete="off" [(ngModel)]="filter" >
              </div>
            </div>
          </div>
        <!-- <div class="row">
            <div class="col-md-12">

                <div class="child-header" style=" display: flex;">
                    <div class="group-button" style="    margin-right: auto;">
                        <button type="button" class="btn btn-success" *ngIf="isAdmin" (click)="open(content)">Add
                            Project</button>
                    </div>
                    <div class=" col-md-6">

                        <div class="input-group">
                            <div class="form-group">
                                <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="filter" id="listSearch">
                              </div>

                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</div>
<!-- end button with search -->
<!-- list project -->
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Project-List" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-3" style="margin-top: 30px;" *ngFor="let p of projectList | searchFilter: filter">
                        <a class="link-detail" routerLink='/project-manager/p-details/{{p.id}}'>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{p.name}}</h3>
                                    <span class="badge" [ngStyle]="{'background':getStatus.getTheColor(p.status)}">{{p.status}}</span>
                                </div>
                                <div class="card-body">
                                    <p class="description">{{p.des}}</p>
                                    <div class="row">
                                        <div class="col-5 py-1"><strong>Start:</strong></div>
                                        <div class="col-7 py-1">{{p.startDate}}</div>
                                        <div class="col-5 py-1"><strong>End:</strong></div>
                                        <div class="col-7 py-1">{{p.endDate}}</div>
                                        <div class="col-5 py-1"><strong>Task:</strong></div>
                                        <div class="col-7 py-1"><strong>{{p.taskNum}}</strong></div>
                                        <div class="col-5 py-1"><strong>Todo:</strong></div>
                                        <div class="col-7 py-1"><strong>{{p.todoNum}}</strong></div>
                                        <div class="col-5 py-1"><strong>Team size:</strong></div>
                                        <div class="col-7 py-1">
                                            <span class="avatar avatar-sm">{{p.partnerNum}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="clearfix">
                                        <div class="float-left"><strong>{{p.progress}}%</strong></div>
                                        <div class="float-right"><small class="text-muted">Progress</small>
                                        </div>
                                    </div>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: {{p.progress}}%"
                                            aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add project</h5>
                <button type="button" class="close"  (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProject">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label">Project Name<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="Text" class="form-control" id="inputName" placeholder="Name"
                                formControlName="name">
                                <div *ngIf="name&&name.invalid&&(name?.dirty||name?.touched)">
                                    <span class="invalid-text" >*Requierd</span>
                                </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
                        <div class="col-md-9" style="display: flex;">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='startDate'
                                ngbDatepicker #d="ngbDatepicker" type="date">
                                <div *ngIf="startDate&&startDate.invalid&&(startDate?.dirty||startDate?.touched)">
                                    <span class="invalid-text" >*Requierd</span>
                                </div>
                            <span style="padding:10px">To</span>
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='endDate'
                                ngbDatepicker #d2="ngbDatepicker" type="date">
                        </div>
                        <div *ngIf="!dateCheck">
                          <span class="invalid-text">End date must be greater start date</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <textarea rows="4" class="form-control no-resize" placeholder="Descriptions"
                                formControlName='des'></textarea>
                                <div *ngIf="des&&des.invalid&&(des?.dirty||des?.touched)">
                                    <span class="invalid-text" >*Requierd</span>
                                </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            Status<span class="text-danger">*</span></label>
                        <div class="col-md-7">
                            <select class="custom-select mr-sm-2" id="" formControlName='status'>
                                <option value="draft" selected>Draft</option>
                                <option value="pending">Pending</option>
                                <option value="working">Working</option>
                                <option value="reviewing">Reviewing</option>
                                <option value="done">Done</option>
                            </select>
                        </div>
                        <div *ngIf="status&&status.invalid&&(status?.dirty||status?.touched)">
                            <span class="invalid-text" >*Requierd</span>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveProject()">Save changes</button>
                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" >Close</button>
                  </div>
            </div>


</ng-template>

