<main class="content-wrapper">

  <div class="container p-30">

    <div class="task-list mb-3">User List
    </div>

    <div class="row">
      <div class="search-input">
        <div class="row">

          <div class="col-12">
            <form [formGroup]="formSearch">
              <mat-form-field appearance="fill">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName='username'>
                </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>FullName</mat-label>
                  <input matInput formControlName='fullname'>
                </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName='enail'>
                </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName='address'>
                </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName='phone'>
                </mat-form-field>

                <button class="btn btn-primary b-search" (click)="onSearch()">Search</button>
            </form>
          </div>

          <div class="col-6">
            <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#new-user"
              (click)="openAddUser(newuser)">New User</button>
          </div>

          <div class="col-6 row">
            <div class="col-3" style="margin-left: auto;">
              <button type="button" class="btn btn-primary mt-3" (click)=" getAllUser()">All
                User</button>
            </div>
            <div class="col-3" style="margin-right: auto;">
              <select class="custom-select mt-3" (change)="selectStatus($event)">
                <option value="all" selected>All</option>
                <option value="active">Active</option>
                <option value="delete">Delete</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 main-datatable">
        <div class="card_body">


          <div class="overflow-x">

            <table mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="select">
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef> STT </th>
                <td mat-cell *matCellDef="let element, index as i"> {{i+1}} </td>
              </ng-container>

              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="UserName">
                <th mat-header-cell *matHeaderCellDef> UserName </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>

              <ng-container matColumnDef="Full Name">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
              </ng-container>

              <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <ng-container matColumnDef="Phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>

              <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>

              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <!-- {{element.delete}} -->

                  <span class="badge" *ngIf="!element.delete"
                    [ngStyle]="{'background':getStatus.getTheColor('active')}">active</span>
                  <span class="badge" *ngIf="element.delete"
                    [ngStyle]="{'background':getStatus.getTheColor('delete')}">delete</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element, index as i">
                  <button mat-icon-button (click)="openDetails(detail,element)">
                    <mat-icon>launch</mat-icon>
                  </button>
                  <span *ngIf="!element.delete" >
                    <button mat-icon-button color="warn" (click)="openDelete(delete,element)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                    <br>
                    <button type="button" class="btn btn-warning mt-2 mb-3"
                      (click)="openpasswordRecover(passwordrecover,element)">Password Recover</button>
                  </span>
                </td>
              </ng-container>

              <!-- <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button><mat-icon>launch</mat-icon></button>
                    <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                     </td>
            </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
              </tr>
            </table>

            <div class="footer-pagination mt-3">
              <div class="row">
                <div class="col-md-6"></div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-9" style="padding-left: 30%">
                      <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                        [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true"
                        (pageChange)="changePage()">
                      </ngb-pagination>

                      <!-- <span>{{thePageNumber}}</span>
                      <span>{{thePageSize}}</span>
                      <span>{{theTotalElements}}</span> -->
                    </div>

                    <div class="col-md-3 mt-2" style="text-align: right;">
                      <span class="mr-2">Page Size</span>
                      <select (change)="updatePageSize($event)">
                        <option selected="true">5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<ng-template #newuser let-modal>
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" *ngIf="checkAdd">New User</h5>
      <h5 class="modal-title" id="exampleModalLabel" *ngIf="!checkAdd">User Details</h5>
      <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <div class="modal-body">

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">User Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Name" formControlName="username">
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="mt-1">


              <div *ngIf="(username?.errors?.required) " class="invalid-text">
                Username is required
              </div>

              <div *ngIf="username?.errors?.pattern" class="invalid-text">
                Username must be a valid username format
              </div>

              <div *ngIf="username?.errors?.maxlength" class="invalid-text">
                Username must be at small 50 characters long
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Full Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Full Name" formControlName="fullName">
            <div *ngIf="fullName?.invalid && (fullName?.dirty || fullName?.touched)" class="mt-1">


              <div *ngIf="(fullName?.errors?.required) " class="invalid-text">
                Full Name is required
              </div>

              <div *ngIf="fullName?.errors?.minlength" class="invalid-text">
                Full Name must be at least 8 characters long
              </div>

              <div *ngIf="fullName?.errors?.maxlength" class="invalid-text">
                Full Name must be at small 50 characters long
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Phone Number<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Phone Number" formControlName="phone">
            <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="mt-1">

              <div *ngIf="phone?.errors?.pattern" class="invalid-text">
                Phone must be a valid phone format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" placeholder="Email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="mt-1">
              <div *ngIf="email?.errors?.required " class="invalid-text">
                Email is required
              </div>
              <div *ngIf="email?.errors?.pattern" class="invalid-text">
                Email must be a valid email address format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Address<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Address" formControlName="address">
            <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="mt-1">
              <div *ngIf="address?.errors?.maxlength" class="invalid-text">
                Address must be at small 200 characters long
              </div>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label"> Password<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="" placeholder="Password" formControlName="password">
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="mt-1">
              <div *ngIf="(password?.errors?.required) " class="invalid-text">
                Password is required
              </div>
              <div *ngIf="password?.errors?.maxlength" class="invalid-text">
                Password must be at small 50 characters long
              </div>

              <div *ngIf="password?.errors?.pattern" class="invalid-text">
                Password must be a valid password format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Confirm Password<span
              class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="" placeholder="Confirm Password"
              formControlName="confirmPassword">
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="mt-1">
              <div *ngIf="(confirmPassword?.errors?.required) " class="invalid-text">
                Confirm Password is required
              </div>
              <div *ngIf="confirmPassword?.errors?.maxlength" class="invalid-text">
                Confirm Password must be at small 50 characters long
              </div>

              <div *ngIf="confirmPassword?.errors?.pattern" class="invalid-text">
                Confirm Password must be a valid password format
              </div>
            </div>
            <div *ngIf="!checkPass" class="invalid-text mt-1">
              Confirm Password and New Password must be same
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #detail let-modal>
  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" *ngIf="!checkAdd">User Details</h5>
      <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <form [formGroup]="userForm" (ngSubmit)="createUser()">
      <div class="modal-body">
        <div class="form-group row" *ngIf="!checkAdd">
          <label for="inputName" class="col-sm-3 col-form-label">Id<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Id" readonly [value]="!checkAdd ? userDetails.id:'' ">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">User Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Name" [value]="userDetails.username" readonly>
          </div>
        </div>


        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Full Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Full Name" [value]="userDetails.fullName"
              readonly>

          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Phone Number<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Phone Number" [value]="userDetails.phone"
              readonly>

          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" placeholder="Email" [value]="userDetails.email" readonly>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Address<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="Address" [value]="userDetails.address" readonly>

          </div>
        </div>

        <div class="form-group row" *ngIf="!checkAdd">
          <label for="inputName" class="col-sm-3 col-form-label">Created Date<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="createDate" [value]="userDetails.createDate"
              readonly>
          </div>
        </div>

        <div class="form-group row" *ngIf="!checkAdd">
          <label for="inputName" class="col-sm-3 col-form-label">Update Date<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="" placeholder="updateDate" [value]="userDetails.updateDate"
              readonly>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #delete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
      <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this User
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #passwordrecover let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Password Recover</h5>
      <button type="button" class="close" (click)="modal.close('Save click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="userForm">
      <div class="modal-body">
        <div>Enter your email</div>
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="" placeholder="Email" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="mt-1">
              <div *ngIf="email?.errors?.required " class="invalid-text">
                Email is required
              </div>
              <div *ngIf="email?.errors?.pattern" class="invalid-text">
                Email must be a valid email address format
              </div>
            </div>
          </div>
        </div>
        <div>
          <span>{{passwordReset}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        <button type="submit" class="btn btn-primary" *ngIf="!isPasswordReset" (click)="passwordRecover()">Password
          Recover</button>
      </div>
    </form>
  </div>
</ng-template>
