<main class="content-wrapper">

    <div class="container p-30">

      <div class="task-list mb-3">Todo List
      </div>

      <div class="row">
        <div class="search-input">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-success" style="margin:10px" (click)="openNew(new_todo)">New Todo</button>
            </div>

            <div class="col-6">
              <div class="form-group searchInput">
                <label for="email">Search:</label>
                <input type="search" class="form-control" id="filterbox" placeholder="Search..."
                  aria-describedby="basic-addon2" (keyup)="applyFilter($any($event.target).value)" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 main-datatable">
          <div class="card_body">


            <div class="overflow-x">

              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="select">
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <ng-container matColumnDef="STT">
                  <th mat-header-cell *matHeaderCellDef> STT </th>
                  <td mat-cell *matCellDef="let element, index as i"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="Created Date">
                  <th mat-header-cell *matHeaderCellDef> Created Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
                </ng-container>

                <ng-container matColumnDef="Start Date">
                  <th mat-header-cell *matHeaderCellDef> Start Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge" [ngStyle]="{'background':getStatus.getTheColor(element?.status)}">{{element?.status}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Task Id">
                  <th mat-header-cell *matHeaderCellDef> Task Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.taskId}} </td>
                </ng-container>

                <ng-container matColumnDef="Todo Type">
                  <th mat-header-cell *matHeaderCellDef> Todo Type </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="badge" [ngStyle]="{'background':getStatus.getTheColor(element?.todoType)}">{{element?.todoType}}</span>
                  </td>
                </ng-container>


                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element, index as i">

                    <button mat-icon-button (click)="openDetails(detail,element)">
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openUpdate(update,element)">
                      <mat-icon>update</mat-icon>
                    </button>
                    <button mat-icon-button (click)="openHistory(history,element)">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
              </table>

              <div class="footer-pagination mt-3">
                <div class="row">
                  <div class="col-md-6"></div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-9" style="padding-left: 30%">
                        <ngb-pagination [(page)]="thePageNumber"
                                        [pageSize]="thePageSize"
                                        [collectionSize]="theTotalElements"
                                        [maxSize]="5"
                                        [boundaryLinks]="true"
                                        (pageChange)="getData()">
                        </ngb-pagination>

                      </div>

                      <div class="col-md-3 mt-2" style="text-align: right;">
                        <span class="mr-2">Page Size</span>
                        <select (change)="updatePageSize($event)">
                          <option selected="true">5</option>
                          <option>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>




  <ng-template #new_todo let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Todo Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="todoForm">
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Todo Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="Text" class="form-control" id="inputName" placeholder="Name" formControlName="name">
            <div *ngIf="name&&name.invalid&&(name?.dirty||name?.touched)">
              <span class="invalid-text">*Requierd</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
          <div class="col-md-9" style="display: flex;">
  
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='startDate' ngbDatepicker
              #d="ngbDatepicker" type="date">
            <div *ngIf="startDate&&startDate.invalid&&(startDate?.dirty||startDate?.touched)">
              <span class="invalid-text">*Requierd</span>
            </div>
            <span style="padding: 10px">To</span>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='endDate' ngbDatepicker
              #d2="ngbDatepicker" type="date">
            <div *ngIf="endDate&&endDate.invalid&&(endDate?.dirty||endDate?.touched)">
              <span class="invalid-text">*Requierd</span>
            </div>
  
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Type<span
              class="text-danger">*</span></label>
          <div class="col-sm-7">
            <select class="custom-select  mr-sm-2" id="" formControlName='taskType'>
              <option value="feature">Feature</option>
              <option value="bug">Bug</option>
              <option value="other">Other</option>
            </select>
          </div>
  
        </div>
  
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Priority<span
              class="text-danger">*</span></label>
          <div class="col-sm-7">
            <select class="custom-select  mr-sm-2" id="" formControlName='priority'>
              <option value="high">High</option>
              <option value="normal">Normal</option>
              <option value="low">Low</option>
            </select>
          </div>
  
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
          <div class="col-md-9">
            <textarea rows="4" class="form-control no-resize" placeholder="Descriptions" formControlName='des'></textarea>
            <div *ngIf="des&&des.invalid&&(des?.dirty||des?.touched)">
              <span class="invalid-text">*Requierd</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Assign for<span class="text-danger">*</span></label>
          <div class="col-md-7">
            <select class="custom-select mr-sm-2" id="" formControlName='assignfor'>
              <option value={{myAccount?.id}}>For Me </option>            
              <option *ngFor="let member of memberList" value={{member.id}}>{{member.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Status<span class="text-danger">*</span></label>
          <div class="col-md-7">
            <select class="custom-select mr-sm-2" id="" formControlName='status'>
              <option value="draft" selected>Draft</option>
              <option value="pending">Pending</option>
              <option value="working">Working</option>
              <option value="reviewing">Reviewing</option>
              <option value="done">Done</option>
            </select>
          </div>
          <div *ngIf="status&&status.invalid&&(status?.dirty||status?.touched)">
            <span class="invalid-text">*Requierd</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="saveNewTodo()">Save changes</button>
    </div>
  </ng-template>


  <ng-template #detail let-modal >
          <!-- <div class="modal-dialog modal-lg" role="document"> -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Todo Details</h5>
                <button type="button" class="btn-close" (click)="modal.close('Save click')" aria-label="Close"></button>

              </div>
              <div class="modal-body">
                  <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Id<span
                              class="text-danger">*</span></label>
                      <div class="col-sm-10" style="display: flex;">
                          <input type="Text" class="form-control col-sm-4" id="inputName"  readonly [value]="todoDetail.id">
                          <span style="padding: 10px;margin-left: auto" class="col-sm-2">Todo Type</span>
                          <input type="Text" style="margin-left: auto" class="form-control col-sm-4" id="inputName" readonly [value]="todoDetail.todoType">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Todo Name<span
                              class="text-danger">*</span></label>
                      <div class="col-sm-10">
                          <input type="Text" class="form-control" id="inputName" readonly [value]="todoDetail.name">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Task Id<span
                              class="text-danger">*</span></label>
                      <div class="col-sm-10" style="display: flex;">
                        <input type="text" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.taskId">

                        <span style="padding: 10px; margin-left: auto" class="col-sm-2">Project Id</span>
                        <input type="text" style="margin-left: auto" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.projectId">
                      </div>
                  </div>

                  <!-- <div class="form-group row">
                      <label for="inputName" class="col-sm-3 col-form-label">Todo Type<span
                              class="text-danger">*</span></label>
                      <div class="col-sm-9">
                          <input type="Text" class="form-control" id="inputName" placeholder="Name">
                      </div>
                  </div> -->

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Start Date <span class="text-danger">*</span></label>
                      <div class="col-sm-10" style="display: flex;">
                          <input type="text" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.startDate">

                          <span style="padding:10px;margin-left: auto" class="col-sm-2">End Date<span class="text-danger">*</span></span>
                          <input type="text" style="margin-left: auto;" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.endDate">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label">Create Date<span class="text-danger">*</span></label>
                      <div class="col-sm-10" style="display: flex;">
                          <input type="text" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.createDate">

                          <span style="padding: 10px; margin-left: auto" class="col-sm-2">Update Date</span>
                          <input type="text" style="margin-left: auto" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.updateDate">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-md-2 col-form-label">Description <span class="text-danger">*</span></label>
                      <div class="col-md-10">
                          <textarea rows="3" class="form-control no-resize" placeholder="Descriptions" readonly [value]="todoDetail.des"></textarea>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                      Create User<span class="text-danger">*</span></label>


                      <div class="col-md-10" style="display: flex;">
                        <input type="text"  class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.createUser">

                          <span style="padding: 10px;margin-left: auto" class="col-sm-2">Status</span>
                          <input type="text" style="margin-left: auto" class="form-control datepicker col-sm-4" name="date" readonly [value]="todoDetail.status">
                      </div>
                  </div>

                  <!-- <div class="form-group row">
                      <label class="col-md-2 col-form-label">
                        Create User<span class="text-danger">*</span></label>

                      <div class="col-md-3" style="display: flex;">
                        <input type="text" class="form-control datepicker" name="date" readonly [value]="todoDetail.createUser">
                      </div>
                  </div> -->
              </div>

              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary"(click)="modal.close('Save click')">Close</button>
              </div> -->
            </div>
      </ng-template>

  <ng-template #update let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Status History</h5>
        <button type="button" class="btn-close" (click)="modal.close('Save click')" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <div class="row">
          <span class="col-4">Status</span>
          <span class="badge col-1" [ngStyle]="{'background':getStatus.getTheColor(todoDetail?.status)}">{{todoDetail?.status}}</span>
        </div>
        <div class="row mt-5">
          <span class="col-4">Select status update</span>
          <select (change)="selectStatus($event)" class="col-2">
            <option>pending</option>
            <option>working</option>
            <option>reviewing</option>
          </select>
        </div>
        <form [formGroup]="updateform">
        <div class="form-group row mt-5">
          <label class="col-md-2 col-form-label">Description <span class="text-danger">*</span></label>
          <div class="col-md-10">
              <textarea rows="3" class="form-control no-resize" placeholder="Descriptions" formControlName="des"></textarea>
          </div>
      </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"(click)="modal.close('Save click')">Close</button>
        <button type="submit" class="btn btn-primary" (click)="updateStatus()" [disabled]="!select">
          Update</button>
      </div>
    </div>
  </ng-template>


  <ng-template #history let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Todo History</h5>
        <button type="button" class="btn-close" (click)="modal.close('Save click')" aria-label="Close"></button>

      </div>
      <div class="modal-body">
    <table style="width:100%; " id="filtertable" class="table cust-datatable dataTable no-footer">
      <thead>
        <tr>
          <th>No.</th>
          <th style="min-width:20px; max-width: 50;">ID</th>
          <th style="min-width:150px;">Description</th>
          <th style="min-width:100px;">PreStatus</th>
          <th style="min-width:100px;">Status</th>
          <th style="min-width:100px;">Update Date</th>
          <th style="min-width:100px;">Update User</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let history of todoHistory; index as i ">
          <td>{{i+1}}</td>
          <td>{{history?.id}}</td>
          <td>{{history?.des}}</td>
          <td><span class="mode"
              [ngStyle]="{'background':getStatus.getTheColor(history?.preStatus)}">{{history?.preStatus}}</span></td>
          <td><span class="mode "
              [ngStyle]="{'background':getStatus.getTheColor(history?.status)}">{{history?.status}}</span></td>
        <td>{{history.updateDate}}</td>
        <td>{{history?.updateUser}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
                <button type="button" class="btn btn-secondary"(click)="modal.close('Save click')">Close</button>
              </div>
</div>
  </ng-template>

