<main class="content-wrapper">
    <div class="container p-30">
        <div class="section-body">
            <div class="container " style="padding-bottom: 30px">
                <!-- <h1 class="task-list">{{currentTask.name}}</h1> -->
                <p class="page-name">{{currentTask.name}}</p>
                <div class="group-btn" style="margin-top: 30px;">
                    <button type="button" class="btn btn-primary " (click)="open(edit_task)" *ngIf="isAdmin || isLeader">Edit</button>
                    <button class="btn btn-secondary" routerLink="/project-manager/p-details/{{curProjectId}}" >Back </button>
                  </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 py-1"><strong>Created:</strong></div>
                        <div class="col-6 py-1">{{currentTask.createDate}}</div>
                        <div class="col-6 py-1"><strong>Start Date:</strong></div>
                        <div class="col-6 py-1">{{currentTask?.startDate}}</div>
                        <div class="col-6 py-1"><strong>End Date:</strong></div>
                        <div class="col-6 py-1">{{currentTask?.endDate}}</div>
                        <div class="col-6 py-1"><strong>Leader:</strong></div>
                        <div class="col-6 py-1">{{currentTask?.taskManagerDetails?.fullName}}</div>
                        <div class="col-6 py-1"><strong>Type:</strong></div>
                        <div class="col-6 py-1">{{currentTask?.taskType}}</div>
                        <div class="col-6 py-1"><strong>Todo:</strong></div>
                        <div class="col-6 py-1"><strong>{{todoNum}}</strong></div>
                        <div class="col-6 py-1"><strong>Status</strong> </div>
                        <div class="col-6 py-1">
                            <strong><span class="badge"
                                    [ngStyle]="{'background':getStatus.getTheColor(currentTask?.status)}">{{currentTask?.status}}</span></strong>
                        </div>
                        <div class="col-6 py-1"><strong>Priority</strong></div>
                        <div class="col-6 py-1"><strong><span class="badge"
                                    [ngStyle]="{'background':getStatus.getTheColor(currentTask?.priority)}">{{currentTask.priority}}</span></strong>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        </div>



      <div class="row">
        <app-list-todo [curTaskId]="curTaskId" [curProjectId]="curProjectId" [isLeader]="isLeader" [isAdmin]="isAdmin"
          [curUserId]="curUserId">

        </app-list-todo>


        <!-- <div class="col-md-12 main-datatable">
                    <div class="card_body">
                        <div class="task-list">Todo List</div>
                        <div class="row d-flex">
                            <div class=" col-sm-4 group-btn ">

                                <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">New
                                    Todo</button>
                                <button class="btn btn-secondary" routerLink='/project-manager/details'>Task
                                    List</button>

                            </div>

                            <div class="col-sm-8 add_flex">
                                <div class="form-group searchInput">
                                    <label for="email">Search:</label>
                                    <input type="search" class="form-control" id="filterbox" placeholder=" ">
                                </div>
                            </div>
                        </div>
                        <div class="overflow-x">

                            <table style="width:100%; " id="filtertable"
                                class="table cust-datatable dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th style="min-width:20px; max-width: 50;">ID</th>
                                        <th style="min-width:150px;">Name</th>
                                        <th style="min-width:150px;">Priority</th>
                                        <th style="min-width:100px;">Manager</th>
                                        <th style="min-width:100px;">Due to</th>
                                        <th style="min-width:150px;">Status</th>
                                        <th style="min-width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Task1</td>
                                        <td><span class="mode mode_high">High</span></td>
                                        <td>Vũ Đức Tuyên</td>
                                        <td>17-Apr-2020</td>
                                        <td><span class="mode mode_working">Working</span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary " data-toggle="modal"
                                                data-target="#exampleModal">
                                                Details
                                            </button>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Task2</td>
                                        <td><span class="mode mode_normal">Normal</span></td>
                                        <td>Vũ Đức Tuyên</td>
                                        <td>17-Apr-2020</td>
                                        <td><span class="mode mode_done">Done</span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary " data-toggle="modal"
                                                data-target="#exampleModal">
                                                Details
                                            </button>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Task1</td>
                                        <td><span class="mode mode_low">Low</span></td>
                                        <td>Vũ Đức Tuyên</td>
                                        <td>17-Apr-2020</td>
                                        <td><span class="mode mode_working">Working</span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary " data-toggle="modal"
                                                data-target="#exampleModal">
                                                Details
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Task5</td>
                                        <td><span class="mode mode_high">High</span></td>
                                        <td>Vũ Đức Tuyên</td>
                                        <td>17-Apr-2020</td>
                                        <td><span class="mode mode_reviewing">Reviewing</span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary " data-toggle="modal"
                                                data-target="#exampleModal">
                                                Details
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
      </div>

</main>

<main class="content-wrapper">
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Todo Details</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-3 col-form-label">Todo Name<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <input type="Text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
                        <div class="col-md-9" style="display: flex;">
                            <input type="text" class="form-control datepicker" name="date" value="">

                            <span style="padding: 10px;">To</span>
                            <input type="text" class="form-control datepicker" name="date" value="">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Priority<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>High</option>
                                <option>Normal</option>
                                <option>Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
                        <div class="col-md-9">
                            <textarea rows="4" class="form-control no-resize" placeholder="Descriptions"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            Assign for<span class="text-danger">*</span></label>

                        <div class="col-md-9">
                            <select class="selectpicker" data-live-search="true" title="Select User">

                                <option data-tokens="">User1</option>
                                <option data-tokens="">User2</option>
                                <option data-tokens="">User3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">
                            Status<span class="text-danger">*</span></label>

                        <div class="col-md-7">
                            <select class="custom-select mr-sm-2" id="">
                                <option selected>Status</option>
                                <option value="1">Draft</option>
                                <option value="2">Pending</option>
                                <option value="3">Working</option>
                                <option value="4">Reviewing</option>
                                <option value="5">Done</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> -->


  <ng-template #edit_task let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formTask">
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Task Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="Text" class="form-control" id="inputName" placeholder="Name" formControlName="name">
            <div *ngIf="name&&name.invalid&&(name?.dirty||name?.touched)">
              <span class="invalid-text">*Required</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
          <div class="col-md-9" style="display: flex;">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='startDate' ngbDatepicker
              #d="ngbDatepicker" type="date">
            <div *ngIf="startDate&&startDate.invalid&&(startDate?.dirty||startDate?.touched)">
              <span class="invalid-text">*Required</span>
            </div>
            <span style="padding: 10px">To</span>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='endDate' ngbDatepicker
              #d2="ngbDatepicker" type="date">

          </div>
          <div *ngIf="!dateCheck">
            <span class="invalid-text">End date must be greater start date</span>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Type<span
              class="text-danger">*</span></label>
          <div class="col-sm-7">
            <select class="custom-select  mr-sm-2" id="" formControlName='taskType'>
              <option value="feature">Feature</option>
              <option value="bug">Bug</option>
              <option value="other">Other</option>
            </select>
          </div>

        </div>
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Priority<span
              class="text-danger">*</span></label>
          <div class="col-sm-7">
            <select class="custom-select  mr-sm-2" formControlName='priority'>
              <option value="high">High</option>
              <option value="normal">Normal</option>
              <option value="low">Low</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
          <div class="col-md-9">
            <textarea rows="4" class="form-control no-resize" placeholder="Descriptions"
              formControlName='des'></textarea>
            <div *ngIf="des&&des.invalid&&(des?.dirty||des?.touched)">
              <span class="invalid-text">*Required</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Assign for<span class="text-danger">*</span></label>

          <div class="col-md-7">
            <select class="custom-select mr-sm-2" id="" formControlName='manager'>
              <!-- <option value={{myUserId}}>For Me </option> -->
              <option *ngFor="let leader of leaderList" value={{leader.id}}>{{leader.fullName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Status<span class="text-danger">*</span></label>
          <div class="col-md-7">
            <select class="custom-select mr-sm-2" id="" formControlName='status'>
              <option value="draft" selected>Draft</option>
              <option value="pending">Pending</option>
              <option value="working">Working</option>
              <option value="reviewing">Reviewing</option>
              <option value="done">Done</option>
            </select>
          </div>
          <div *ngIf="status&&status.invalid&&(status?.dirty||status?.touched)">
            <span class="invalid-text">*Required</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
      <button type="button" class="btn btn-primary" (click)=" saveTask()">Save changes</button>
    </div>
  </ng-template>
</main>


<router-outlet></router-outlet>
