<main class="content-wrapper">
  <div class="container p-30">
    <h3>Add Users To This Project</h3>
    <div class="row">
      <div class="container">
        <div class="row">
            <div class="search-input">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary">
                            All Partner
                        </button>
                    </div>
    
                    <div class="col-6">
                        <div class="input-group mb-3"> <input type="text" class="form-control input-text" placeholder="Search..."  aria-describedby="basic-addon2" (keyup)="applyFilter($any($event.target).value)"  autocomplete="off">
                            <div class="input-group-append"> <button class="btn btn-outline-warning btn-lg" type="button"><i class="fa fa-search"></i></button> </div>
                        </div>
    
                        <!-- <input type="text" style="float:right" value=" " (keyup)="applyFilter($any($event.target).value)"
                            placeholder="search for" class="form-control-sm top-margin"> -->
                    </div>
                </div>
    
    
    
            </div>
    
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
    
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
    
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
    
                    <!--User Name Column -->
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef> User Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </ng-container>
    
                    <!-- Full Column -->
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Full Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>
    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>

    
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef> Role</th>
                        <td mat-cell *matCellDef="let element" style="max-width:60px">
                            <mat-form-field>
                                <mat-select matInput placeholder="Role" required [(value)]="element.role">
                                    <mat-option value="leader">Leader</mat-option>
                                    <mat-option value="dev">Developer</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
    
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element"> <button mat-raised-button class="btn btn-primary"
                              (click)="openDetails(element)"> Details </button> </td>
                  </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <br><br>
            <div >
                <button class="btn btn-primary" (click)="logSelection()" style="margin: 20px;">
                    Save 
                </button>
            </div>
        </div>
    </div>
    
    
    
    
    <!-- Copyright 2018 Google Inc. All Rights Reserved.
            Use of this source code is governed by an MIT-style license that
            can be found in the LICENSE file at http://angular.io/license -->
    </div>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="new-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">User Name<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="Text" class="form-control" id="inputName" placeholder="Name">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Phone Number<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="Text" class="form-control" id="inputName" placeholder="Phone Number">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Email<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="email" class="form-control" id="" placeholder="Email">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label"> Password<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="password" class="form-control" id="" placeholder="Password">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Confirm Password<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="password" class="form-control" id="" placeholder="Confirm Password">
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Date Of Birth<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="Date" name="dob" class="form-control" id="Date" placeholder="" required>
              </div>
          </div>
          <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label">Address<span
                      class="text-danger">*</span></label>
              <div class="col-sm-9">
                  <input type="Text" class="form-control" id="" placeholder="Address">
              </div>
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->