
<main class="content-wrapper">
  <div class="container p-30">
    <div class="row">
      <div class="col-md-12 main-datatable">
        <div class="card_body">
          <div class="task-list">Task List</div>
                <button class="btn btn-success" style="margin:10px"  (click)="open(new_task)">New Task</button>
          <div class="row d-flex">

              <!-- <div class="form-group searchInput">
                  <label for="email">Search:</label>
                  <input type="search" class="form-control" id="filterbox" placeholder=" ">
                </div> -->
                <form class="example-form">
                  <mat-form-field class="" >
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>

                  <mat-form-field class="" >
                    <mat-label>Priority</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <mat-form-field class="" >
                    <mat-label>Manager</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <mat-form-field class="" >
                    <mat-label>Status</mat-label>
                    <input matInput placeholder="" >
                  </mat-form-field>
                  <button class="btn btn-primary">Search</button>
                </form>


          </div>
          <div class="overflow-x">

            <table style="width:100%; " id="filtertable" class="table cust-datatable dataTable no-footer">
              <thead>
                <tr>
                  <th>No.</th>
                  <th style="min-width:20px; max-width: 50;">ID</th>
                  <th style="min-width:150px;">Name</th>
                  <th style="min-width:100px;">Priority</th>
                  <th style="min-width:100px;">Manager</th>
                  <th style="min-width:100px;">StartDate</th>
                  <th style="min-width:100px;">Due to</th>
                  <th style="min-width:100px;">Status</th>
                  <th style="min-width:150px;">Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let task of taskList; index as i ">
                  <td>{{i+1}}</td>
                  <td>{{task?.id}}</td>
                  <td>{{task?.name}}</td>
                  <td><span class="mode"
                      [ngStyle]="{'background':getStatus.getTheColor(task?.priority)}">{{task?.priority}}</span></td>
                  <td>{{task?.taskManagerId}}</td>
                  <td>{{task?.startDate}}</td>
                  <td>{{task?.endDate}}</td>
                  <td><span class="mode "
                      [ngStyle]="{'background':getStatus.getTheColor(task?.status)}">{{task?.status}}</span></td>
                  <td>
                    <!-- <button type="button" class="btn btn-primary " routerLink='/project-manager/task-details'>
                        Details
                      </button>
                      <button type="button" class="btn btn-danger " routerLink='/project-manager/task-details'>
                        Delete
                      </button> -->
                    <button mat-icon-button>
                      <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<ng-template #new_task let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formTask">
      <div class="form-group row">
        <label for="inputName" class="col-sm-3 col-form-label">Task Name<span class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input type="Text" class="form-control" id="inputName" placeholder="Name" formControlName="name">
          <div *ngIf="name&&name.invalid&&(name?.dirty||name?.touched)">
            <span class="invalid-text" >*Requierd</span>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
        <div class="col-md-9" style="display: flex;">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='startDate'
                ngbDatepicker #d="ngbDatepicker" type="date">
                <div *ngIf="startDate&&startDate.invalid&&(startDate?.dirty||startDate?.touched)">
                    <span class="invalid-text" >*Requierd</span>
                </div>
            <span style="padding: 10px">To</span>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='endDate'
                ngbDatepicker #d2="ngbDatepicker" type="date">
                <div *ngIf="endDate&&endDate.invalid&&(endDate?.dirty||endDate?.touched)">
                    <span class="invalid-text" >*Requierd</span>
                </div>
        </div>
    </div>
    <div class="form-group row">
      <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Priority<span
          class="text-danger">*</span></label>
      <div class="col-sm-7">
        <select class="custom-select  mr-sm-2" id="" formControlName='priority'>
          <option value="high" >High</option>
          <option value="normal">Normal</option>
          <option value="low">Low</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
      <div class="col-md-9">
          <textarea rows="4" class="form-control no-resize" placeholder="Descriptions"
              formControlName='des'></textarea>
              <div *ngIf="des&&des.invalid&&(des?.dirty||des?.touched)">
                  <span class="invalid-text" >*Requierd</span>
              </div>
      </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
      Assign for<span class="text-danger">*</span></label>

    <div class="col-md-7">
      <select class="custom-select mr-sm-2" id="" formControlName='manager'>
        <option value = {{myUserId}}>For Me </option>
        <option *ngFor="let leader of leaderList" value={{leader.id}}>{{leader.fullName}}</option>
    </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label">
        Status<span class="text-danger">*</span></label>
    <div class="col-md-7">
        <select class="custom-select mr-sm-2" id="" formControlName='status'>
            <option value="draft" selected>Draft</option>
            <option value="pending">Pending</option>
            <option value="working">Working</option>
            <option value="reviewing">Reviewing</option>
            <option value="done">Done</option>
        </select>
    </div>
    <div *ngIf="status&&status.invalid&&(status?.dirty||status?.touched)">
        <span class="invalid-text" >*Requierd</span>
    </div>
</div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveNewTask()">Save changes</button>
  </div>
</ng-template>



