<!-- detail project -->
<main class="content-wrapper">
  <div class="section-body">
    <div class="container p-30">
      <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Update Success!!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p class="page-name">{{currentProject?.name}}</p>
      <div class="group-btn-1" style="margin-top: 30px;">
        <button class="btn btn-success " *ngIf="isAdmin" routerLink='/project-manager/add-user/{{currentProject?.id}}'>Add user</button>
        <button class="btn btn-info "routerLink='/project-manager/members/{{currentProject?.id}}'>Members</button>
        <button type="button" class="btn btn-primary " *ngIf="isAdmin" (click)="openProjectForm(P_edit)">Edit</button>
        <button type="button" class="btn btn-danger " *ngIf="isAdmin" (click)="openDelete(confirmDelete)">Delete</button>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6 py-1"><strong>Created:</strong></div>
          <div class="col-6 py-1">{{currentProject?.createDate}}</div>
          <div class="col-6 py-1"><strong>Start Date:</strong></div>
          <div class="col-6 py-1">{{currentProject?.startDate}}</div>
          <div class="col-6 py-1"><strong>End Date:</strong></div>
          <div class="col-6 py-1">{{currentProject?.endDate}}</div>
          <div class="col-6 py-1"><strong>Creator:</strong></div>
          <div class="col-6 py-1">Admin</div>
          <div class="col-6 py-1"><strong>Task:</strong></div>
          <div class="col-6 py-1"><strong>{{taskNum}}</strong></div>
          <div class="col-6 py-1"><strong>Todo:</strong></div>
          <div class="col-6 py-1"><strong>{{todoNum}}</strong></div>
          <div class="col-6 py-1"><strong>Team size:</strong></div>
          <div class="col-6 py-1">
            <span class="avatar avatar-sm">{{currentProject?.partnerNum}}</span>
          </div>
          <div class="col-6 py-1"><strong>Status</strong></div>
          <div class="col-6 py-1">
            <strong><span class="badge" [ngStyle]="{'background':getStatus.getTheColor(currentProject?.status)}">{{currentProject?.status}}</span></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-list-task [currentProjectId]="currentProjectId" [memberList]="memberList" (updateDetails)="loadDetails()">
  
</app-list-task>
<!-- detail project end -->

<!-- ListTask -->

<!-- modal project-->
<ng-template #P_edit let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add project</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formProject">
      <div class="form-group row">
        <label for="inputName" class="col-sm-3 col-form-label">Project Name<span class="text-danger">*</span></label>
        <div class="col-sm-9">
          <input type="Text" class="form-control" id="inputName" placeholder="Name" formControlName="name">
          <div *ngIf="name&&name.invalid&&(name?.dirty||name?.touched)">
            <span class="invalid-text">*Required</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
        <div class="col-md-9" style="display: flex;">


          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='startDate' ngbDatepicker
            #d="ngbDatepicker" type="date">
          <div *ngIf="startDate&&startDate.invalid&&(startDate?.dirty||startDate?.touched)">
            <span class="invalid-text">*Requierd</span>
          </div>
          <span style="padding:10px">To</span>
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='endDate' ngbDatepicker
            #d2="ngbDatepicker" type="date">
          <div *ngIf="endDate&&endDate.invalid&&(endDate?.dirty||endDate?.touched)">
            <span class="invalid-text">*Required</span>
          </div>
        </div>
        <!-- <pre>model: {{model | json}}</pre> -->
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
        <div class="col-md-9">
          <textarea rows="4" class="form-control no-resize" placeholder="Descriptions" formControlName='des'></textarea>
          <div *ngIf="des&&des.invalid&&(des?.dirty||des?.touched)">
            <span class="invalid-text">*Required</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">
          Status<span class="text-danger">*</span></label>
        <div class="col-md-7">
          <select class="custom-select mr-sm-2" id="" formControlName='status'>
            <option value="draft" selected>Draft</option>
            <option value="pending">Pending</option>
            <option value="working">Working</option>
            <option value="reviewing">Reviewing</option>
            <option value="done">Done</option>
          </select>
        </div>
        <div *ngIf="status&&status.invalid&&(status?.dirty||status?.touched)">
          <span class="invalid-text">*Required</span>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveProject()">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
  </div>

</ng-template>

<!-- modal new task -->
<div class="modal fade" id="new-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Task Name<span class="text-danger">*</span></label>
          <div class="col-sm-9">
            <input type="Text" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Due <span class="text-danger">*</span></label>
          <div class="col-md-9" style="display: flex;">
            <input type="text" class="form-control datepicker" name="date" value="">

            <span style="padding: 10px;">To</span>
            <input type="text" class="form-control datepicker" name="date" value="">

          </div>
        </div>
        <div class="form-group row">
          <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Priority<span
              class="text-danger">*</span></label>
          <div class="col-sm-9">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>High</option>
              <option>Normal</option>
              <option>Low</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Description <span class="text-danger">*</span></label>
          <div class="col-md-9">
            <textarea rows="4" class="form-control no-resize" placeholder="Descriptions"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Assign for<span class="text-danger">*</span></label>

          <div class="col-md-9">
            <select class="selectpicker" data-live-search="true" title="Select User">

              <option data-tokens="">User1</option>
              <option data-tokens="">User2</option>
              <option data-tokens="">User3</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            Status<span class="text-danger">*</span></label>
          <div class="col-md-7">
            <select class="custom-select mr-sm-2" id="">
              <option selected>Status</option>
              <option value="1">Draft</option>
              <option value="2">Pending</option>
              <option value="3">Working</option>
              <option value="4">Reviewing</option>
              <option value="5">Done</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- confirm delete Project Model -->
<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to delete this Project.</h5>
    <div class=" text-center">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
<router-outlet></router-outlet>

